<!DOCTYPE html>
<html>
	<head>
		<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto' rel='stylesheet' type='text/css'> -->
		<link href='../css/login.css' rel='stylesheet' type='text/css'>
	</head>
	<script src='../js/jquery.js'></script>
	<script>
		
		

	</script>

	<body>
		<div ng-controller="loginCtrl" >
		    <div class="bg"></div>

		    <div class="form">
		    	<!--<a href="#registration" class="opBtn">Sign-up</a>-->
		    	<div class="formContent">
		    		<h1>Lecturus VIT</h1>
		    		<p>Welcome to Lecturus VIT platform</p>
				    <form >
				    	<span class="label">Username</span>
				        <input type="email" name="email" ng-model="user.email" required/>
				        <span class="label">Password</span>
				        <input type="password" name="password" ng-model="user.password" pattern=".{5,10}" title="5 to 10 characters" required/>
				        <span class="warning label">Wrong cradentials</span>
				        <input class="btn" type="button" ng-click="login()" value="Login" />
				    </form>
				</div>
			</div>
		</div>
	</body>
</html>