<!DOCTYPE html>
<html>
	<head>
		<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto' rel='stylesheet' type='text/css'> -->
		<link href='../css/login.css' rel='stylesheet' type='text/css'>
		<script src='../js/jquery.js'></script>
		<script type="text/javascript">
		var colleges;
			$(document).ready(function() { 

				$("input[type='email']").on('input',function(e){
  					$(".warning").css("opacity",0);
				});


				function setCollegeList(){
					var posting = $.get( "http://localhost:3000/college/get");

					posting.done(function( data ) {
						console.log(data);
						for (var i = data.data.length - 1; i >= 0; i--) {
							element = data.data[i]
						
						   	var opt = document.createElement("option");
						   	if (element.name == ""){
						   		continue
						   	}
						   	opt.value= element.id;
						   	opt.innerHTML = element.name; // whatever property it has

						   // then append it to the select element
						   $("#collegeSlct").append(opt);
						}
						if (data.status){
							window.localStorage.setItem("vitToken", data.data.token);
						}
					});
				}
		
				$("#register").submit(function(event) {

					/* stop form from submitting normally */
					event.preventDefault();

					var formData = {	
		        		'email'       : $('input[name=email]').val(),
		        		'password'    : $('input[name=password]').val(),
		        		'f_name'    : $('input[name=fname]').val(),
		        		'l_name'    : $('input[name=lname]').val(),
		        		'college_id'    : 1
		    		};

		    		var $form = $( this );
					var action = $form.attr( 'action' );

					/* Send the data using post with element id name and name2*/
					var posting = $.get( "http://localhost:3000/user/"+action, formData );

					//TODO on server if token is invalid redirect to login page
					posting.done(function( data ) {
						console.log(data);
						if (data.status == "success"){
							// window.localStorage.setItem("vitToken", data.data.token);
							$(".form").css("right","50%");
							$("#regBtn").prop('disabled', true);
							$("#regBtn").css('cursor', "no-drop");
							$("#dlLink").attr("href",data.data.link);
						}else{
							$(".warning").css("opacity",1);
						}
					});
				});

				setCollegeList();
			});
			
		</script>
	</head>
	<body style="margin:0;padding:0; font-family: 'Roboto', sans-serif;">
		<div ng-controller="registrationCtrl" >
			<a href="login.html" class="opBtn">Login</a>
			<div class="bg" style="width:50%; height:100vh; background:#2abfd5 url(../images/loginbg.jpg); background-size: cover; background-position: 50% 50%; position: absolute;">

		    </div>
		    

		    <div style="width:50%; height:100vh; background-color:#f9f9f9; right:0; position: absolute; overflow: hidden;margin-left: 50%;padding: 10%;box-sizing: border-box;color: #2abfd5;font-size: 40px;">
		    	Woo-hoo!<br><br>
		    	<span style="font-size:30px">You now can <a id="dlLink" href="" style="text-decoration:underline">download VIT client</a> or <a href="login.html" style="text-decoration:underline">login</a><br>
		    	P.S. you can always download the client later on dashboard settings.
		    </div>


		   	<div class="form" style="transition: all 0.4s ease-in-out;width:50%; height:100vh; background-color:#f9f9f9; right:0%; box-shadow: 0 14px 28px rgba(0,0,0,.25),0 0 10px rgba(0,0,0,.22); position: absolute; overflow: hidden;margin-left: 50%;">
		    	<div style="width: 250px; top: 50%; position: absolute; left: 50%; margin: -162px auto 0 -125px;">
		    		<h1 style="font-size: 30px;font-weight: 300;color: #2abfd5;width: 100%;">Lecturus VIT</h1>
		    		<p style="font-size: 15px;font-weight: 400;line-height: 26px;color: #757575;margin-bottom: 30px;">Welcome to Lecturus VIT platform</p>
				    <form id="register" action="new" >
				    	<span class="label">Username (email)</span><span class="warning label">Already exists</span>
				        <input type="email" name="email" ng-model="user.email" required/>
				        <span class="label">Password</span>
				        <input type="password" name="password" ng-model="user.password" pattern=".{5,10}" title="5 to 10 characters" required/>
				        <div class="firstname">
					    	<div class="label">First name</div>
					        <input type="text" name="fname" ng-model="user.fname" required/>
					    </div>
					    <div class="lastname">
					        <div class="label">Last name</div>
					        <input type="text" name="lname" ng-model="user.lname" required/>
					    </div>
				        <span class="label">College</span>
				        <select id="collegeSlct" class="select" ng-options="id as name for (id,name) in colleges" /> 
				        <input id="regBtn" class="btn"type="submit" ng-click="formSubmit()" value="Create account" />
				    </form>
				</div>
			</div>
		</div>
	</body>
</html>
