<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto' rel='stylesheet' type='text/css'>
		<link href='../css/login.css' rel='stylesheet' type='text/css'>
	</head>
	<body style="margin:0;padding:0; font-family: 'Roboto', sans-serif;">
		<div ng-controller="registrationCtrl" >
			<div class="bg" style="width:50%; height:100vh; background:#2abfd5 url(../images/loginbg.jpg); background-size: cover; background-position: 50% 50%; position: absolute;">

		    </div>
		   	<div class="form" style="width:50%; height:100vh; background-color:#f9f9f9; right:0; box-shadow: 0 14px 28px rgba(0,0,0,.25),0 0 10px rgba(0,0,0,.22); position: absolute; overflow: hidden;margin-left: 50%;">
		    	<div style="width: 250px; top: 50%; position: absolute; left: 50%; margin: -162px auto 0 -125px;">
		    		<h1 style="font-size: 30px;font-weight: 300;color: #2abfd5;width: 100%;">Lecturus VIT</h1>
		    		<p style="font-size: 15px;font-weight: 400;line-height: 26px;color: #757575;margin-bottom: 30px;">Welcome to Lecturus VIT platform</p>
				    <form onsubmit="formSubmit()" >
				    	<span class="label">Username</span>
				        <input type="email" name="email" ng-model="user.email" required/>
				        <span class="label">Password</span>
				        <input type="password" name="password" ng-model="user.password" pattern=".{5,10}" title="5 to 10 characters" required/>
				        <div class="firstname">
					    	<div class="label">First name</div>
					        <input type="text" name="fname" ng-model="user.fname" required/>
					    </div>
					    <div class="lastname">
					        <div class="label">Last name</div>
					        <input type="text" name="lname" ng-model="user.lname" required/>
					    </div>
				        <span class="label">College</span>
				        <select class="select" ng-options="id as name for (id,name) in colleges" /> 
				        <input class="btn"type="submit" ng-click="formSubmit()" value="Create account" />{{colleges[0]}}
				    </form>
				</div>
			</div>
		</div>
	</body>
</html>
